#!/usr/bin/env bash
set -euo pipefail

echo "==> Building plugin..."
cd plugin && ./gradlew shadowJar
cd ..

echo "==> Building buttercat-httpd..."
cd server && go build -o buttercat-httpd .
echo "==> Done"
